Terraform/terraform.tfstate.backup
Terraform/terraform.tfstate
Terraform/.terraform.lock.hcl
Terraform/.terraform
zero-trust-human-identity/terraform/.terraform
zero-trust-human-identity/terraform/.terraform.lock.hcl
zero-trust-human-identity/terraform